
:root{
    --primary-color:#6B7280;
    --secondary-color:#D1D5DB;

}
body{
    margin: 0;
    padding: 0;
}
.wrap-main{
    background-color: var(--secondary-color);
    height:75vh;
}
.container{
    max-width:850px;
    margin: 0px auto;
    margin-bottom: 0px;
    padding: 1.5rem;

    
    
}
.heading{
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
    font-weight: bold;
   font-size: 2rem;
}

#input-text{
    display:block;
    width:80%;
    height:150px;
    margin-bottom: 20px;
    
    padding: 15px;
    
    
}
#output-text{
    width:80%;
    height:150px;
    border:1px solid black;
    display: block;
    overflow: scroll;
    background-color:white;
}
#btn-Translate{
    padding:0.5rem;
    display: block;
    width:150px;
    border-radius: 0.3rem;
    margin-bottom: 20px;
}
.footer{
    background-color: var(--primary-color);;
}
.ftr-heading{
    text-align: center;
    padding:3px;
    margin: 0;
     font-weight:bold;
   font-size:1.3rem;
}
    

.ftr-txt{
    max-width:650px;
   margin:0 auto;
   padding:0.5rem;
   font-size:1.3rem;
}